#logo1{
    height: 100px;
}

#butao{
    background-color: #A37A46;
    color: white;
    border-color: black;
}

#butao2{
    color: white;
    margin-right: 40px;
}

.sec{
    height: 100vh;
}

.texto{
    color: #A37A46;
}

#agendar{
    background-color: #8A1921; 
    border-color: #8A1921;
    padding: 15px;
    margin-top: 25px;
}

#sec2{
    height: 30vh;
    padding-top: 10vh;
}


#sec4{
    min-height: 30vh;
    padding-top: 10vh;
}

.cards{
    background-color: #A37A46;
}

.tcards{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#prof{
    padding-top: 5vh;
}
.destaque{
    background-color: black;
    min-height: 20vh;
    margin: 0;
    color: aliceblue;
    font-size: 20px;
}


.destaque1{
    background-color: black;
    height: 35vh;
    margin: 0;
    color: aliceblue;
    font-size: 15px;
}

.destaque > p{
    width: 50vw;
    line-height: normal;
}


.card{
    margin-bottom: 15px;
}

.foto-galeria{
    padding: 15px;
}



.persona{
    width: 250px;
    margin-top: 30px;
}

.img-cli{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.comentario{
    width: 40vh;
}

.rodape{
    background-color: black;
}

.contato{
padding-top: 65px;
font-size: 20px;
color: white;
}

.link{
    padding-top: 65px;
    font-size: 20px;
    color: #A37A46;
    line-height: 200%;
    text-decoration: none;
}